* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
   
}

:root {
    --blue: #14EBE7;
    --yellow :#ebe98c;
    --purple: #be09be;
    --background: blanchedalmond;
}
                                                        /* Todo form  */
.todoFormContainer{
    background-color: var(--blue);
    border-radius: 10px;
    display: none; 
    padding: 0.3rem;
}

    
.todoFormContainer.showTodoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}

.formHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.3rem;
}
.todoFormContainer h2 {
    margin-left: .6rem;
    color: white;
    
    padding: 0;
}
.closeForm {
    border-style: none;
   background-color: inherit;
    cursor: pointer;
    margin: .3rem;
}
.closeForm:hover {
    color: red;
}

.formUl{
    margin: 0;
    padding: 0;
    list-style: none; 
}
.formLi{
    padding:.2rem;
}
textarea{
    width: 300px;
    height: 100px;
    border: none;
    outline-style: none;
    border-radius: 2px;
    text-indent: .2rem;
    font-family: inherit;
}
label {
    font-weight: 100;
    margin: .3rem;
}
input{
    outline-style: none;
    border: none;
    border-radius: 2px;
    text-indent: .2rem;
    font-family: inherit;
}
.dueDateInput {

    font-weight: 200;
    
}
.submit {
  border-color: rgb(95, 179, 10);
  box-shadow: none;
  border-style: none;
  border: 1px solid  rgb(95, 179, 10);
  border-radius: 2px;
  padding: 0 1rem;
  color:  rgb(95, 179, 10);
}


.submit:hover
{
    color: white;
    background-color: rgb(95, 179, 10);
}
.formLi_footer {
   display: flex;
   justify-content: space-between;
}
.priority{
    border-radius: 2px;
    padding: 0;
    font-size: .7rem;
    color:  rgb(95, 179, 10);
    border-color: rgb(95, 179, 10);;
}


/* 
///////////////
todoDiv styling   
//////////////
*/
.todoDiv {
    background-color: var(--blue);
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    padding-left: 0;
    margin:0.3rem;
    height: 2rem; 
}
.todoDiv:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px var(--blue);  
}
.todoDiv.checked {
    filter: blur(1px);
    color: rgb(120, 125, 144);
    text-decoration: line-through;
    
}
.todoDivRight{
    display: flex;
    gap: 1rem;
}
.todoDivLeft {
    display: flex;
    gap: 1rem;
    height: 2rem;
}
.todoDivCenter {
    flex:1;
}

                                                                /* todoDetails */   
    .todoDetails {
        background-color: var(--blue);
        border-radius: 3px;
        border:1px solid white;
        font-family: inherit;
        font-weight: 300;
        padding: 0.2rem;
        cursor: pointer;
        
    }
    .todoDetails:hover {
        background-color: var(--yellow);
        color: var(--purple);
    }

                                                                /* checkbox styling */


.todoCheckMark {
    appearance: none;
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    margin: auto 0.2rem;
    background-color: var(--blue);
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
}
.todoCheckMark:hover {
    appearance: none;
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    margin: auto 0.2rem;
    background-color: var(--yellow);
    border-radius: 3px;
    cursor: pointer;
   
}
.todoCheckMark:hover::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: '\f00c';
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}

.todoCheckMark:checked::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: '\f00c';
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yellow);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}



.todoPriority{
    
    height: 100%;
    width: 0.3rem;
}
.todoPriority.low {
    background-color: green;
}
.todoPriority.med {
    background-color: yellow;
}
.todoPriority {
    background-color: red;
}
.todoTitle,
.todoDescription,
.dueDate {
    margin: 0;
    margin-left: 0.3rem;
    font-size: 1rem;
    font-weight: 200;
    width: 3rem;
}
.dueDate {
    align-self: center;
}
.todoEdit {
    height: .5rem;
    width: .5rem;
    cursor: pointer;
}
.todoDelete {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}
.todoEdit::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 300; 
    content: "\f044";
    display: inline-block;
    color: var(--purple);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.todoEdit:hover::before { 
    color: var(--yellow);
}
.todoDelete:hover::before {
    color: red;
}
.todoDelete::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 300; 
    content: "\f2ed";
    display: inline-block;
    color: var(--purple);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
                                                       /* contentDiv styling */
.contentDiv{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.contentDiv.blur {
    filter: blur(10px);
}
.headerDiv {
  
    background-color: var(--background);
    display: flex;
    align-items: center;
    
}
.middleDiv {
   flex: 1;
   display: grid;
   grid-template-columns: 15% 1fr;
   grid-template-rows: 1fr 15%;

}

.todoContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

.addNewTodoContainer {
    /* position: relative; */
    grid-column: 2/ 3;
    grid-row: 2 /3;
    display: flex;
    justify-content: start;
    align-items: center;
}

.contentLeftDiv {
    grid-column: 1/2;
    grid-row: 1/3;
}

                                                            /* Header styling */
.headerDiv h1 {
    padding: .3rem;
}
                                                            /* projectsContainer */
.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    background-color: var(--yellow);
    height: 100%;
    width: 100%;

    padding-top: 2rem;
}
.projectTitle {
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 200;
    font-size: 1.4rem;
   
}
.projectTitle:hover {
    transform: scale(1.1);
    font-weight: 400;
    
}
                                                            /* projectForm */
.projectFormContainer {
   
    max-width: 100%;

    background-color: var(--yellow);
    border-radius: 1px;
}

.projectForm {
   

    
}
.projectFormName {
margin: 0.1rem;
width: 8rem;
}

.addNewProject {
   
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100px;
    cursor: pointer;
    border-style: hidden;
    background-color: bisque;
}
.addNewProject::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 300; 
    content: '\2b';
    display: inline-block;
    color: var(--purple);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.addNewProject:hover,
.addNewTodo:hover {
    transform: scale(1.2);
    background-color: #b0e0bc;
    border-color:  #93efaa;
    cursor: pointer;
}

.projectButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
}
.addProject {
    border-color: rgb(95, 179, 10);
    box-shadow: none;
    border-style: none;
    border: 1px solid  rgb(95, 179, 10);
    border-radius: 2px;
    padding: 0 .5rem;
    color:  rgb(95, 179, 10);
  }
  .cancelProject {
      border-color: rgb(95, 179, 10);
      box-shadow: none;
      border-style: none;
      border: 1px solid  rgb(95, 179, 10);
      border-radius: 2px;
      padding: 0 .5rem;
      color:  rgb(95, 179, 10);
    }

  .addProject:hover,
  .cancelProject:hover
{
    color: white;
    background-color: rgb(95, 179, 10);
}

                                                       /* detailsWindow styling */
.detailsWindow,
.editWindow{
    background-color: var(--blue);
    display: none;  
    position: absolute;
    top: 50%;
    left: 50%; 
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    padding: 0.3rem;
    border-radius: 4px;

    width: 50vw;
}
.detailsWindow.show,
.editWindow.show{
    
    display: inline-block;  
}

.detailsHeader{
    display: flex;
    justify-content: space-between;
}

.closeDetails {
    cursor: pointer;
}
.closeDetails:hover {
    color: red;
}
.detailsTitle {
    font-family: inherit;
    font-weight: 400;
}
.detailsDescription,
.detailsDueDate  {
    font-weight: 200;
} 
.detailsPriority {
    font-weight: 400;
    text-transform: uppercase;
}
.detailsPriority.low {
    color: green;
    
}
.detailsPriority.med {
    color: blue;
}
.detailsPriority.high {
    color: red;
}


                                                            /* Footer styling*/

.footerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


                                                            /* addNewTodo */
                                                    


.addNewTodoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.addNewTodoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.addNewTodo {
    margin: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    border-style: hidden;
    background-color: bisque;
}

.addNewTodo::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: '\2b';
    display: inline-block;
    color: var(--purple);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.addNewTodo::after:hover {
    scale: 1.6;
}









