
html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* 
////////////
form styling
////////////
*/

.formContainer{
    background-color: aquamarine;
    
    display: none;  
  
}
.formContainer.show{
    display: inline-block; 
}
.formContainer h2 {
    margin: 0;
    background-color: rgb(99, 91, 105);
    color: white;
    padding-left: .2rem;
}

.formUl{
     margin: 0;
    padding: 0;
    list-style: none; 
}

.formLi{
    padding:.2rem;
}

textarea{
    width: 300px;
    height: 100px;
    border: none;
    outline-style: none;
}

label {
    font-weight: 100;
}
input{
    outline-style: none;
    border: none;
    border-radius: 3;
}

.submit {
  border-color: rgb(95, 179, 10);
  box-shadow: none;
  border-style: none;
  border: 1px solid  rgb(95, 179, 10);
  border-radius: 2px;
  padding: 0 1rem;
  color:  rgb(95, 179, 10);
}

.submit:hover{
    color: white;
    background-color: rgb(95, 179, 10);
}

.formLi_footer {
   display: flex;
   justify-content: space-between;
}

.priority{
    border-radius: 2px;
    padding: 0;
    font-size: .7rem;
    color:  rgb(95, 179, 10);
    border-color: rgb(95, 179, 10);;
}

/* 
///////////////
todoDiv styling   
//////////////
*/

.todoDiv {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 1rem;
    margin: .5rem 0;
    
}



.todoDivRight{
    display: flex;
    gap: 1rem
}

.todoTitle,
.todoDescription,
.dueDate {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;

   
}


/* 
///////////////////////
contentDiv styling
//////////////////////
*/

.middleDiv {
display: grid;
grid-template-columns: 1fr 2fr;
   
}

.contentLeftDiv {
    background-color: aqua;
}




/* 
///////////////////////
projectsDiv styling
//////////////////////
*/

.projectsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
}







